[Unit]
Description=Nereo Camera GStreamer
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=gst-launch-1.0 v4l2src ! videoconvert ! x264enc tune=zerolatency ! rtph264pay ! udpsink host=10.0.0.69 port=5000
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="HOME=/home/pi"

[Install]
WantedBy=multi-user.target
